<nav class="flex items-center text-sand gap-4">
  <button
    routerLink="/home"
    routerLinkActive="bg-papaya font-semibold"
    class="bg-leaf rounded-full px-4 py-2 text-lg shadow-md shadow-ruby/50 hover:bg-papaya hover:border-transparent">
    Accueil
  </button>
  <button
    routerLink="/herbarium"
    routerLinkActive="bg-papaya font-semibold"
    class="bg-leaf rounded-full px-4 py-2 text-lg shadow-md shadow-ruby/50 hover:bg-papaya hover:border-transparent">
    Herbarium
  </button>
  <button
    routerLink="/suggest"
    routerLinkActive="bg-papaya font-semibold"
    class="bg-leaf rounded-full px-4 py-2 text-lg shadow-md shadow-ruby/50 hover:bg-papaya hover:border-transparent">
    Suggérer une plante
  </button>
  <button
    routerLink="/about"
    routerLinkActive="bg-papaya font-semibold"
    class="bg-leaf rounded-full px-4 py-2 text-lg shadow-md shadow-ruby/50 hover:bg-papaya hover:border-transparent">
    À propos
  </button>
</nav>
