<nav class="flex items-center text-sand gap-4">
  <button
    routerLink="/home"
    routerLinkActive="border-transparent bg-papaya font-semibold"
    class="border border-papaya rounded-full px-4 py-2 text-lg hover:bg-papaya hover:border-transparent">
    Accueil
  </button>
  <button
    routerLink="/herbarium"
    routerLinkActive="border-transparent bg-papaya font-semibold"
    class="border border-papaya rounded-full px-4 py-2 text-lg hover:bg-papaya hover:border-transparent">
    Herbarium
  </button>
  <button
    routerLink="/suggest"
    routerLinkActive="border-transparent bg-papaya font-semibold"
    class="border border-papaya rounded-full px-4 py-2 text-lg hover:bg-papaya hover:border-transparent">
    Suggérer une plante
  </button>
  <button
    routerLink="/about"
    routerLinkActive="border-transparent bg-papaya font-semibold"
    class="border border-papaya rounded-full px-4 py-2 text-lg hover:bg-papaya hover:border-transparent">
    À propos
  </button>
</nav>
